@{
  Layout = "_Layout";
}

<h1>Welcome</h1>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Recipe Box", "Index", "Recipes")</p>
<p>@Html.ActionLink("Test Form", "Tests", new { number = 3 })</p>